*{
    text-align: center;
}

h1{
text-align: center ;
color: #DEDEDE;
font-family:Monospace, sans-serif ;
}

h3{
    text-align: center ;
    color: #DEDEDE;
    font-family:Monospace, sans-serif ;
}

body {

    background-color: #59A27A;
  }
  
.container{
    /* height: 90vh;
    display: flex;
    justify-content: center; */
    display: grid;
    grid-gap: 2px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 17px 50px;
    cursor: pointer; 
    background-color: aliceblue;
    margin: 50px auto;
    vertical-align: center;
    /* font-family:'Times New Roman', Times, serif;
    font-size: 25px; */
    width: 500px;
    height: 500px;
}
  
.grid{
    box-shadow: 0 0 20px 0  #59A27A;(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    
}
.grid div{
    border: 1px solid  #59A27A;; 
    height: 33%;
    width: 33%;
    /* cursor: crosshair; */
}
.X{
    background-image: url('../images/X.png');
    background-size: 150px;
    background-position: center;
    background-repeat: no-repeat;

}




.O{
    background-image: url('../images/O.png');
    background-size: 150px;
    background-position: center;
    background-repeat: no-repeat;


}

.blank:hover{
background-color: #C2EED5;
}
.reset{
    position: center;
    /* font-size: 16px; */
    text-align: center;
    margin: auto;
    padding: 12px 28px;
    border-radius: 8px;
    border-color: #59A27A ;
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
} 

#endText{
    color:#210;
    font-family:Monospace, sans-serif ;
}

.popup {
    margin: 100px auto;
    margin-top: 30vh;
    padding: 20px;
    background: #D3C0D3;
    border-radius: 10px; 
    box-shadow: black;
    width: 50%;
    height: 20%;
    position: relative;
    /* transition: all 10s ease-in-out; */
    border: 1px solid white;
  }
  .popup h2 {
    margin-top: 42px;
    color: grey (359, 96%, 19%);
    text-align: center;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    color: white;
  }
  .popup .close:hover {
    color: #208075;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    color: #A55375;
    font-family:Monospace, sans-serif ;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  /* These are the rules you are looking for. */
  .overlay {
    transition: opacity 500ms;
    opacity: 1;
    pointer-events: all;
  }
  .overlay:target {
    opacity: 0;
    pointer-events: none;
  }
