body {

    background-color: #59A27A;
  }
  

  /* .container{
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
} */
.container {
   background-color: rgba(0,0,0,.2);  */
   margin: 50px auto;
    vertical-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template rows: 1fr 1fr 1fr;
    grid-gap: 2px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 17px 50px;
    cursor: pointer; 
  }

  /* .grid{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
} */
.grid div{
    border: 1px solid black; 
    height: 33%;
    width: 33%;

    /* cursor: crosshair; */
}
  .grid {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

/*   
  .space:hover {
    background-color: rgba(0,0,0,0);
    transition: background-color .5s;
    cursor: pointer;
  } */